.hexagon {
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.container {
    padding-top: 64px;
}

.avatar {
    border-radius: 50%;
    transition: filter 0.5s ease-in-out;
    filter: grayscale(100%) contrast(1);
}

.avatar:hover {
    filter: grayscale(0%);
    cursor: pointer;
}

.avatar-border {
    background: radial-gradient(circle at top left, #60a5fa, #a3e635);
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
}