@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgb(48, 10, 36);
}

::-webkit-scrollbar-thumb {
  background-color: #77216F;
  border: 3px solid rgb(48, 10, 36);
  border-radius: 10px;
}

html, body {
  height: 100%;
}

body {
  background-color: rgb(48, 10, 36);
}
